.todoitem {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}

/* 마우스가 올라가 있을 경우 */
.todoitem:hover {
    background-color: #e3fafc;
}

.todoitem:hover .removeitem {
    /* 속성 보이게 하기 */
    opacity: 1;
}

.todoitem + .todoitem {
    border-top: 1px solid #f1f3f5;
}

.removeitem {
    margin-right: 1rem;
    color: #e64980;
    font-weight: 600;
    opacity: 0;
}

.todotext {
    /* 공간 채우기 */
    flex: 1;
}

.checked {
    text-decoration: line-through;
    color: #adb5bd;
}

.check-mark {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-left: 1rem;
    color: darkolivegreen;
    font-weight: 800;
}